body { background: #222222; font-size:10px; }

.clear { clear:both; overflow:auto; }

.visual-wrapper { background: white; min-width:320px; width:100%; }

header { border-bottom: 1px solid #666666; font-family: 'Finger Paint', cursive; font-size:1.5em; padding:0.2em; position:relative; z-index:10; }
  header h1,
  header h2 { margin:0; padding:0; }
  
.content-wrapper { background-color:#F2F2F2; clear:both; float:left; overflow:hidden; position:relative; width:100%; }
  .content-wrapper  .content-main { background-color: #FFFFFF; float:left; position:relative; right: 0; width:100%; }
    .content-wrapper .content-main .content-nav { background-color: #F2F2F2; float:left; position:relative; right: 100%; width:100%; }
      .content-wrapper .content-main .content-nav .col1,
      .content-wrapper .content-main .content-nav .col2,
      .content-wrapper .content-main .content-nav .col3 { float:left; overflow:hidden; padding:0.5em 0; position:relative; }
      .content-wrapper .content-main .content-nav .col1 { font-size:1.2em; left:102%; width: 100%; }
        .content-wrapper .content-main .content-nav .col1  h2{ font-size:1.3em; }
     .content-wrapper .content-main .content-nav .col2 { display:none; }
      .content-wrapper .content-main .content-nav .col3 { display:none; }
  
footer { border-top: 1px solid #666666; clear:both; padding:0.5em 0; text-align:center;}
