header { padding:1em; } 

.content-wrapper { width:100%; }
  .content-wrapper  .content-main {  right: 20%; width:100%; }
    .content-wrapper .content-main .content-nav { background-color: #F2F2F2; right: 60%; width:100%; }
      .content-wrapper .content-main .content-nav .col1 { left:101%; width: 58%; }
      .content-wrapper .content-main .content-nav .col2 { left:23.5%; width: 17%; }
      .content-wrapper .content-main .content-nav .col3 { display:block; left:86.5%; width: 17%; }
