@import "../00-variables/_colors.scss";
@import "../00-variables/_breakpoints.scss";

.primary-nav {
  &__items {
    list-style: none;
    margin: 0;
    padding: 0;

    @media ($bp-header-min) {
      display: flex;
    }
  }

  &__item {
  }

  &__item + &__item {
    @media ($bp-header-min) {
      margin-left: 16px;
    }
  }

  &__link {
    color: $c-font-base;
    font-size: 18px;
    line-height: 1.5;
  }
}
