@import "../00-variables/_colors.scss";

.primary-nav {
  &__items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
  }

  &__item + &__item {
    margin-left: 16px;
  }

  &__link {
    color: $c-font-base;
    font-size: 18px;
    line-height: 1.5;
  }
}
