
<div class="primary">
    <div class="column-exception rwjf-pageheader rwjf-component">

        <div class="page_header has-header-button clearfix">

            <h1>New Jersey Initiatives</h1>

        </div>

    </div>

    <div class="rwjf-subnav column-exception rwjf-component">

    </div>

    <div class="parsys primary">
        <div class="section columns-75_25">

            <div class="columns columns-75_25 group">
                <div class="column column_75">
                    <div class="parsys column1">
                        <div class="rwjf-carousel rwjf-component section">

                            <section class="carousel slides flexslider group">

                                <nav>
                                    <a href="javascript:void(0);" class="prev" title="Previous">Prev</a>
                                    <span>|</span> <a href="javascript:void(0);" class="next" title="Next">Next</a>
                                </nav>

                                <article class="slide clearfix first">

                                    <h1 class="super-title">News Release</h1>
                                    <a href="/en/about-rwjf/newsroom/newsroom-content/2013/05/robert-wood-johnson-foundation-gives--12-5-million-to-rutgers-to.html">
                                        <figure class="">

                                            <img title="Foundation Gives $12.5 Million to Rutgers to Support UMDNJ Integration" alt="Foundation Gives $12.5 Million to Rutgers to Support UMDNJ Integration" class="featured cq-dd-slide1" src="/content/rwjf/en/about-rwjf/newsroom/features-and-articles/new-jersey/_jcr_content/primary/columns_75_25/column1/carousel/slide1.size.img.jpg/1377625046077.jpg">

                                        </figure>
                                    </a>

                                    <h2 class="article-title">
                                        <a href="/en/about-rwjf/newsroom/newsroom-content/2013/05/robert-wood-johnson-foundation-gives--12-5-million-to-rutgers-to.html">
                                            Foundation Gives $12.5 Million to Rutgers to Support UMDNJ Integration
                                        </a>
                                    </h2>

                                    <p>In the largest single gift Rutgers has ever received from the Robert Wood Johnson Foundation, the university gets a major financial boost as it moves toward integration with most of the University of Medicine and Dentistry of New Jersey.</p>

                                    <p>
                                        <a href="/en/about-rwjf/newsroom/newsroom-content/2013/05/robert-wood-johnson-foundation-gives--12-5-million-to-rutgers-to.html" class="read-more">Read more</a>
                                    </p>

                                </article>

                                <article class="slide clearfix ">

                                    <h1 class="super-title">News Release</h1>
                                    <a href="/en/about-rwjf/newsroom/newsroom-content/2012/11/robert-wood-johnson-foundation-pledges--5-million-to-support--ne.html">
                                        <figure class="">

                                            <img title="RWJF Pledges $5 Million to Support New Jersey Recovery in Aftermath of Superstorm Sandy" alt="RWJF Pledges $5 Million to Support New Jersey Recovery in Aftermath of Superstorm Sandy" class="featured cq-dd-slide2" src="/content/rwjf/en/about-rwjf/newsroom/features-and-articles/new-jersey/_jcr_content/primary/columns_75_25/column1/carousel/slide2.size.img.jpg/1352841455536.jpg">

                                        </figure>
                                    </a>

                                    <h2 class="article-title">
                                        <a href="/en/about-rwjf/newsroom/newsroom-content/2012/11/robert-wood-johnson-foundation-pledges--5-million-to-support--ne.html">
                                            RWJF Pledges $5 Million to Support New Jersey Recovery in Aftermath of Superstorm Sandy
                                        </a>
                                    </h2>

                                    <p>The funds are intended to provide immediate relief, help families recover, strengthen social supports and bolster rebuilding efforts.</p>

                                    <p>
                                        <a href="/en/about-rwjf/newsroom/newsroom-content/2012/11/robert-wood-johnson-foundation-pledges--5-million-to-support--ne.html" class="read-more">Learn more</a>
                                    </p>

                                </article>

                            </section>
                        </div>
                    </div>

                </div>
                <div class="column column_25">
                    <div class="parsys column2">
                        <div class="rwjf-flexiblepromotion rwjf-component section">

                            <div class="flexible_promotion_single" data-launch-cta="View all photos">
                                <section class="group">

                                    <header>
                                        <div class="header">
                                            <h1 class="super-title">Breaking Ground</h1>
                                        </div>
                                    </header>

                                    <div class="figure">
                                        <figure>
                                            <a href="/en/about-rwjf/newsroom/newsroom-content/2013/08/rutgers-university-breaks-ground-on--new-jersey-institute-for-fo.html">
                                                <img title="Rutgers Institute Long View" alt="thumbnail" class="cq-dd-image" src="/content/rwjf/en/about-rwjf/newsroom/features-and-articles/new-jersey/_jcr_content/primary/columns_75_25/column2/flexiblepromotionsin/slide1.size.img.jpg/1377272645433.jpg">
                                            </a>
                                        </figure>
                                    </div>

                                    <div class="callout">

                                        <h2><a href="/en/about-rwjf/newsroom/newsroom-content/2013/08/rutgers-university-breaks-ground-on--new-jersey-institute-for-fo.html">RWJF Awards Grant to Rutgers for New Institute</a>
                                        </h2>

                                        <p><a href="http://vimeo.com/74068274" class="read-more" target="_blank">View the video</a>
                                        </p>

                                        <p><a href="/en/about-rwjf/newsroom/newsroom-content/2013/08/rutgers-university-breaks-ground-on--new-jersey-institute-for-fo.html" class="read-more">Read the news release</a>
                                        </p>

                                    </div>

                                </section>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="columns-66_33 section">

            <div class="columns columns-66_33 group">
                <div class="column column_66">
                    <div class="parsys column1">
                        <div class="rwjf-flexiblepromotion rwjf-component section">

                            <div class="flexible_promotion">

                                <h1 class="super-title">Key New Jersey Programs and Initiatives</h1>

                                <div class="callout clearfix">

                                    <figure>
                                        <a href="http://www.njhi.org/">
                                            <img title="Moyer_100826_00481_RET" alt="Moyer_100826_00481_RET" class="cq-dd-image" src="/content/rwjf/en/about-rwjf/newsroom/features-and-articles/new-jersey/_jcr_content/primary/columns_66_33_0/column1/flexiblepromotion/slide1.size.img.jpg/1339006732548.jpg">
                                        </a>
                                    </figure>

                                    <section>

                                        <h3><a href="http://www.njhi.org/">New Jersey Health Initiatives</a>
                                        </h3>

                                        <p><i>New Jersey Health Initiatives</i> (NJHI) supports advancement in health services delivery, improvement in health, and the expansion of leadership expertise through grantmaking across the state of New Jersey.
                                            <br>
                                        </p>

                                        <a href="http://www.njhi.org/" class="read-more">Learn more about this program</a>

                                    </section>
                                </div>

                                <div class="callout clearfix">

                                    <figure>
                                        <a href="http://www.njni.org/">
                                            <img title="IMG_3555_RET" alt="IMG_3555_RET" class="cq-dd-image" src="/content/rwjf/en/about-rwjf/newsroom/features-and-articles/new-jersey/_jcr_content/primary/columns_66_33_0/column1/flexiblepromotion/slide2.size.img.jpg/1339006286792.jpg">
                                        </a>
                                    </figure>

                                    <section>

                                        <h3><a href="http://www.njni.org/">New Jersey Nursing Initiative</a>
                                        </h3>

                                        <p><i>New Jersey Nursing Initiative</i> (NJNI) addresses the state nurse faculty shortage by: developing a statewide model for recruiting and retaining nurse faculty; developing models for nursing curricula to educate new faculty; increasing the number of nurse faculty; and building partnerships among diverse stakeholders to support efforts to raise the number of nurse faculty.</p>

                                        <a href="http://www.njni.org/" class="read-more">Learn more about this program</a>

                                    </section>
                                </div>

                                <div class="callout clearfix">

                                    <figure>
                                        <a href="http://www.njhealthykids.net/">
                                            <img title="Faces of three smiling girls." alt="Faces of three smiling girls." class="cq-dd-image" src="/content/rwjf/en/about-rwjf/newsroom/features-and-articles/new-jersey/_jcr_content/primary/columns_66_33_0/column1/flexiblepromotion/slide3.size.img.jpg/1368635134596.jpg">
                                        </a>
                                    </figure>

                                    <section>

                                        <h3><a href="http://www.njhealthykids.net/">New Jersey Partnership for Healthy Kids</a>
                                        </h3>

                                        <p><i>New Jersey Partnership for Health Kids</i> (NJPHK) is an RWJF statewide program, with technical assistance and direction by the New Jersey YMCA State Alliance. The program aims to convene, connect and empower community partnerships to implement environment and policy-changing strategies that prevent childhood obesity.</p>

                                        <a href="http://www.njhealthykids.net/" class="read-more">Learn more about this program</a>

                                    </section>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="column column_33">
                    <div class="parsys column2">
                        <div class="rwjf-image rwjf-component section">

                            <div class="image group">
                                <section>
                                    <div class="figure">
                                        <figure>

                                            <a href="/en/about-rwjf/newsroom/newsroom-content/2013/08/our-commitment-to-new-jersey.html">

                                                <img title=" History of Our New Jersey Grantmaking" alt=" History of Our New Jersey Grantmaking" class="cq-dd-image" src="/content/rwjf/en/about-rwjf/newsroom/features-and-articles/new-jersey/_jcr_content/primary/columns_66_33_0/column2/image.size.img.jpg/1378840577682.jpg">

                                            </a>

                                        </figure>
                                    </div>
                                    <div class="figcaption">
                                        <figcaption>

                                        </figcaption>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="rwjf-freeform rwjf-component section">

                            <article class="freeform">
                                <h1 class="super-title">Our Commitment to New Jersey
                                    <br>
                                </h1>
                                <p>The Robert Wood Johnson Foundation and the state of New Jersey have long maintained an inextricable relationship. Read more about our longstanding dedication to New Jersey institutions, as well as our many investments. Learn about the Foundation's physical footprint in the state.
                                    <br>
                                </p>
                                <p><a class="read-more" href="/en/about-rwjf/newsroom/newsroom-content/2013/08/our-commitment-to-new-jersey.html">Check out the vital stats</a>
                                    <br>
                                </p>

                            </article>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="columns-50_50 section">

            <div class="columns columns-50_50 group">
                <div class="column column_50">
                    <div class="parsys column1">
                        <div class="rwjf-flexiblepromotion rwjf-component section">

                            <div class="flexible_promotion_single" data-launch-cta="View all photos">
                                <section class="group">

                                    <header>
                                        <div class="header">
                                            <h1 class="super-title">Featured Blog Post</h1>
                                        </div>
                                    </header>

                                    <div class="figure">
                                        <figure>
                                            <a href="/en/blogs/culture-of-health/2013/06/new_brunswick_bikee.html">
                                                <img title="bikevolunteers" alt="thumbnail" class="cq-dd-image" src="/content/rwjf/en/about-rwjf/newsroom/features-and-articles/new-jersey/_jcr_content/primary/columns_50_50_0/column1/flexiblepromotionsin/slide1.size.img.jpg/1371057445762.jpg">
                                            </a>
                                        </figure>
                                    </div>

                                    <div class="callout">

                                        <h2><a href="/en/blogs/culture-of-health/2013/06/new_brunswick_bikee.html">Bike Exchange On a Roll</a>
                                        </h2>

                                        <p>The New Brunswick exchange is a project of the Puerto Rican Action Board, a partner of RWJF’s <i>New Jersey Partnership for Healthy Kids.</i>
                                            <br>
                                        </p>

                                        <p><a href="/en/blogs/culture-of-health/2013/06/new_brunswick_bikee.html" class="read-more">Read the Culture of Health blog post</a>
                                        </p>

                                    </div>

                                </section>
                            </div>

                        </div>
                        <div class="rwjf-flexiblepromotion rwjf-component section">

                            <div class="flexible_promotion_single" data-launch-cta="View all photos">
                                <section class="group">

                                    <header>
                                        <div class="header">
                                            <h1 class="super-title">Featured Story</h1>
                                        </div>
                                    </header>

                                    <div class="figure">
                                        <figure>
                                            <a href="/en/about-rwjf/newsroom/newsroom-content/2013/06/a-_watershed-moment-for-the-new-jersey-nursing-initiative.html">
                                                <img title="NJNI Seton Hall Scholars on graduation day" alt="thumbnail" class="cq-dd-image" src="/content/rwjf/en/about-rwjf/newsroom/features-and-articles/new-jersey/_jcr_content/primary/columns_50_50_0/column1/flexiblepromotionsin_0/slide1.size.img.jpg/1369082789364.jpg">
                                            </a>
                                        </figure>
                                    </div>

                                    <div class="callout">

                                        <h2><a href="/en/about-rwjf/newsroom/newsroom-content/2013/06/a-_watershed-moment-for-the-new-jersey-nursing-initiative.html">A Watershed Moment for NJNI</a>
                                        </h2>

                                        <p>The New Jersey Nursing Initiative's first PhD scholars graduate, joining a pipeline of nurses prepared to fill faculty positions in the Garden State.</p>

                                        <p><a href="/en/about-rwjf/newsroom/newsroom-content/2013/06/a-_watershed-moment-for-the-new-jersey-nursing-initiative.html" class="read-more">Read the story</a>
                                        </p>

                                    </div>

                                </section>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="column column_50">
                    <div class="parsys column2">
                        <div class="rwjf-videoseries rwjf-component section">

                            <div class="video-series yt-video-parent group">
                                <section>
                                    <h1>Featured New Jersey Video</h1>

                                    <div class="vs-video">
                                        <div class="vs-video-inner">

                                            <div class="yt-video" data-width="638" data-height="354" data-id="hNXtvajZP9E"></div>

                                        </div>
                                    </div>

                                    <div class="vs-description">

                                        <h2>Renovating Northgate Park</h2>

                                        <p>The New Jersey Partnership for Healthy Kids (NJPHK) helped to revitalize a local park in Camden, N.J. NJPHK is an RWJF statewide program, with technical assistance and direction provided by the New Jersey YMCA State Alliance.</p>

                                    </div>

                                    <p class="vs-more"><a href="/en/about-rwjf/newsroom/video.html" class="read-more">See more RWJF videos</a>
                                    </p>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="secondary">
    <div class="parsys secondary"></div>

</div>

<div class="column-exception rwjf-component rwjf-contentstream">

</div>