.map-link {
	height:40px;
	text-align:right;

	svg {
		display:inline-block;
		fill:$color-icon-subtle;
		height:40px;
		vertical-align: bottom;
		width:40px;
	}
	&__link {
		display:inline-block;
		vertical-align: bottom;
	}
}