.services-311-content {
	max-width: 1260px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.services-311-contact {
	margin-top:40px;

	@include media($x-small-min) {
		float:right;
	}

	@include media($large-min) {
		margin-top:0;
	}

	&__items {
		text-align:center;
	}

	&__item {
		display:inline-block;

		&--icon {
			border-radius:100%;
			fill:$color-icon-subtle;
			height:45px;
			margin-right:10px;
			width:45px;
			vertical-align:top;
		}

		&--phoneNumbers {
			padding-right:20px;

			h3 {
				line-height:40px;
				text-transform:none;
					letter-spacing: normal;
  					font-size: 1.25em;

				span {
					font-size:0.75em;
					text-transform:lowercase;
					margin-bottom:20px;
				}
			}
		}

		&--openHours {
			background-color:$color-services311-icon;
			margin-bottom:20px;
			border:1px solid transparent;
			border-radius:10px;
			padding:0 15px;
			line-height:30px;
			span {
				color:$color-text-featured;
			}
		}			
	}

	.services-311-apps {
		clear:both;
		text-align:center;

			@include media($x-small-min) {
				float:right;
			}

		&__title {
			line-height:normal;

			@include media($small-min) {
				float: left;
  				line-height: 50px;
			}
		}

		&__items {
			
			@include media($x-small-min) {
				float:left;
			}
		}

		&__item {
			display:inline;
		}

		&__icon {
			width:45px;
			height:45px;

			&--apple {
				fill: $color-text-subtle;
				padding: 4px;
			}

			&--android {
				fill: $color-social-android;
				padding: 4px;
			}			
		}
	}
}

.requests-answers {
	margin-bottom: 40px;
	overflow: hidden;
	clear: both;

	&__top {
		border:1px solid $color-border-divider-subtle;
		padding:20px;
		margin-bottom:40px;
		&:hover {
			cursor:pointer;
		}
	}

	&__title {
		text-align:center;
		font-weight:600;
		margin:40px 0;
	}

	&__content {
		width:100%;
	}

	.key-services {
		&__item {
			width:100%;
			margin-right:0;
			margin-bottom:40px;

			@include media($medium-min) {
				width:100%;
				@include media($small-to-medium){
					@include span-columns(12);
				}
			}

			span {
				display: block;
				font-size: 14px;
				margin-top: 5px;
				font-weight: 600;
			}
		}

		&__icon {
			@include media($medium-min) {
				flex-basis:75px;
				width:75px;
			}

			svg {
				height:80px;
				@include media($medium-min) {
					width:45px;
				}				
			}	
		}
	}

	.column--50 {
		@include media($small-to-medium){
			@include span-columns(12);
		}
	}
}