// Grid Containers
.container,
.row {
  @include clearfix;
}

.table-grid,
.row {
  &.secondary {
    padding: 0 $page-padding*5;
  }
}


// Grid
// ---------------------------------------
$grid-columns: 12;

@for $i from 1 through ($grid-columns) {
  // $grid-classes: join($grid-classes, unquote(".span-#{$i}"), comma);
  .span#{$i} {
    @include clearfix;
    @include span-columns($i);
  }
}

// Table Grid
// ---------------------------------------
.table-grid {
    display: table;

    .cell {
      display: table-cell;
    }
}

@for $i from 1 through ($grid-columns) {
    .cell-span#{$i} {
        @include clearfix;
        @include span-columns($i, table);
        vertical-align: top;
    }
}