.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.hidden {
    display: none;
}

.invisible {
    @include opacity(0);
    visibility: hidden;
    @include transition(all 0.4s ease);
}
