// Colors
// ---------------------------------------

$blue-dark: #003D6B;
$blue-light: #57AED7;
$orange: #F67F38;

$white: #FFF;
$gray-dark: #443b3b;
$black: #000;

$color-primary: $blue-light;
$color-secondary: $orange;
$color-tertiary: $blue-dark;


// Fonts
// ---------------------------------------

$font-stack: 'Helvetica Neue', 'Arial', sans-serif;
$font-primary: "museo-sans-n3","museo-sans",'Helvetica Neue','Neue Helvetica','Helvetica',sans-serif;


// Misc
// ---------------------------------------

$page-nav-breakpoint: 950px;

$page-v-rhythm: 20px;

$page-padding: 10px;
$page-width: 1020px;
