<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Apprenez à jouer au poker et profitez des meilleurs événements et promotions du poker en ligne. Téléchargez notre logiciel de poker gratuit et commencez à jouer dès aujourd'hui sur Everest Poker." />
<title>Poker - Jouez au poker en ligne dans la première communauté de poker en France avec Everest Poker</title>
<link rel="stylesheet" type="text/css" href="includes/onepager.css" />
<script src="includes/onepager.js"></script>
<!-- % my @affiliate_info = GVWeb::getAdv( $r ); -->
</head>

<body>
<div id="main-wrapper">
<div id="header"><img src="images/everest_poker.jpg" width="190" height="93" /></div>
<div id="content-wrapper">
<div id="main-content">
<h1>Jouez gratuitement pendant que nous préparons l'ouverture du marché français !</h1>
<h2>Nous ne sommes plus qu'à quelques jours du lancement officiel d'EverestPoker.fr</h2>
<p><strong>Apprenez à jouer et à aimer le poker comme nous l'aimons</strong></p>
<ul>
<li class="li-1">Utilisez notre tutoriel de poker pour en réviser les bases</li>
<li class="li-2">Exercez-vous au Texas Hold'em dans notre Salle d'entraînement</li>
<li class="li-3">Jouez gratuitement et chattez avec d'autres joueurs</li>
</ul>
<a href="#" class="dload-button"><span class="dload-button-left"></span><span class="dload-button-middle">Apprendre le poker</span><span class="dload-button-right"></span></a>
<!-- a href="http://www.everestpoker.net/fr/dload/?adv=<% $affiliate_info[0] %>&amp;mid=<% $affiliate_info[1] %>&amp;imid=N00" class="dload-button"><span class="dload-button-left"></span><span class="dload-button-middle">Apprendre le poker</span><span class="dload-button-right"></span></a -->
</div>
<div id="promotional-content">
<img id="arjel-license" src="images/arjel-license.jpg" width="79" height="112" alt="Arjel agree" align="left" /><div>Nous sommes une des premières salles de poker à recevoir une licence. Nous avons vraiment hâte de vous offrir une expérience de poker incroyable en France.</div>
</div>
<div id="addtional-content">
<p>Connectez-vous à une communauté qui s'étend au-delà des tables de poker. Nous sommes bien plus qu'une salle de poker en ligne. Chez Everest Poker, nous plaçons nos joueurs au coeur du jeu.</p>
<p>Téléchargez notre <a href="#">logiciel de poker gratuit</a> dès aujourd'hui. Découvrez pourquoi nous sommes le site de poker en ligne préféré des amoureux du poker. Quand vous jouez sur Everest, vous jouez avec des amis.</p>
<!-- p>Téléchargez notre <a href="http://www.everestpoker.net/fr/dload/?adv=<% $affiliate_info[0] %>&amp;mid=<% $affiliate_info[1] %>&amp;imid=N00">logiciel de poker gratuit</a> dès aujourd'hui. Découvrez pourquoi nous sommes le site de poker en ligne préféré des amoureux du poker. Quand vous jouez sur Everest, vous jouez avec des amis.</p -->
</div>
<div id="clear-space-after-content"></div>
</div>
<script>addVerticalSpacing();</script>
<div id="footer">Copyright © 2008-2010 Everest Poker. Tous droits réservés.</div>
</div>
<div id="bottom-background"></div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-169168-15");
} catch(err) {}</script>
<script type="text/javascript" src="/PromoImages/global/ga.js"></script>
</body>
</html>
