$c-rainbow-red: #d63e3e;
$c-rainbow-orange: #e57a44;
$c-rainbow-yellow: #ece345;
$c-rainbow-green: #41c560;
$c-rainbow-blue: #0b67bc;
$c-rainbow-purple: #28265f;

$c-sky-blue: #87cefa;
$c-ground-green: #41c560;
$c-black: #222;

$c-font-base: $c-black;
$c-font-inverse: white;
