/*
  This file is based on the ploneCustom.css.dtml file shipped with Plone.

  <dtml-with base_properties> (do not remove this)
  <dtml-call "REQUEST.set('portal_url', portal_url())"> (not this either)
*/

/*
** FRONTPAGE STYLES 
*/

/* The global section tabs. */
#portal-globalnav li a {
    background: url('&dtml-portal_url;/front_global-navigation-background.gif') top left repeat-x;
}
#portal-globalnav li.firstTab a {
    background-image: url('&dtml-portal_url;/front_global-navigation-left.gif');
    background-repeat: no-repeat;    
}
#portal-globalnav li a span { 
    background: transparent url('&dtml-portal_url;/front_global-navigation-center.gif') top right no-repeat;
}
#portal-globalnav li.lastTab a span {
    background-image: url('&dtml-portal_url;/front_global-navigation-right.gif');
    background-repeat: no-repeat;    
}

#visual-portal-wrapper {
    background-image: url('&dtml-portal_url;/main-background-hp.jpg');
}

#frontpage-promotions {
    height: 535px;
    position:relative;
    z-index: 0;
	margin: 0 auto;
	width:876px;
}
#promo-blocks {
    position:absolute;
    z-index: 1;
    padding: 0;
	letter-spacing:.05em;
    color: #fff;  
	width: 876px;
	top:0px;
}

#promo-blocks table.cssClearTable {
    margin:0;
}
#frontpage-promo1 {
    margin: 37px 0 0 36px;
}
#frontpage-promo1 p {
	color:#FFFFFF;
	font-size:1em;
    line-height:.7em;
	margin:1px;
	padding-left:20px;
}
#frontpage-promo1 h1,
#frontpage-promo1 h2 {
	background:transparent;
	border:none;
	padding:5px 0 10px;
	margin:0;
	color:#CCCCCC;
	font-size:1.5em;
	font-weight:normal;
}

h2#frontpage-title {
    padding: 0;
    margin: 0;
    background: transparent;
	border:none;
    color: &dtml-evpLightGreen;;
    font-weight: 100;
    font-size: 220%;
}

#frontpage-promo2 {
    left: 245px;
    position: absolute;
    top: 376px;
    z-index: 10;
}
#frontpage-promo3 {
    color:#CCCCCC;
    margin: 0;
    padding: 0 15px;
	overflow: hidden;
    position:absolute;
    z-index: 1;
    text-align:right;
    top:0;
    right:0;
}
a.promoarea-download {
	display: block;
	background: transparent;
}
#frontpage-promo3 a img {
	text-decoration: none;
}
#portal-columns {

    color: #333333;
    padding-top:0;
}
#columns-wrapper {
    background: transparent;
    width: 100%;
    padding-top: 0;
}
#clear-space-after-content {
    height: 1px;
    background: transparent;
}
#portal-breadcrumbs {
    display: none;
}

#portal-column-content {
    margin-bottom: 0;
}

.documentContent {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
#content-column-wrapper,
.documentContent {
    margin: 0 !important;
    width: 100% !important;
}
.evp-frontpage-news {
    padding: 14px;
}
#clear-space-before-wrapper-table {
    clear: none;
    display: none;
}

/*
FRONTPAGE PORTLET STYLES
*/

#frontpage-portlets { 
    padding-top: 18px;
    margin-top: 0;
    min-height: 245px;
    color: #333333;
	letter-spacing:.05em;
}
#frontpage-portlets h2 {
    padding: 5px 0 10px;
    margin:0;
    background: transparent;
	border: none;
    color: &dtml-evpLightGreen;;
    font-weight: normal;
    font-size: 1.5em;
}
#frontpage-portlets h2 a, #frontpage-portlets h2 a:hover {
	text-decoration: none;
	background: none;
	font-size: 1em;
	border: 0;
	margin: 0;
	padding: 0;
}
#frontpage-portlets h2 a:hover {
	text-decoration: underline;
}
#frontpage-portlets p { 
	margin-bottom:0;
	padding-bottom:0px;
	padding-left:0;
	letter-spacing:-.03em;
}
#frontpage-portlets a {  
    border-top: 1px solid #333333;
	display:block;
	font-size:1.1em;
	font-weight:bold;
	padding-bottom:10px;
	padding-top:12px;
	margin-top:4px;
	text-decoration:none;
}
#frontpage-portlets .contentPortlets {
    padding-top: 14px;
}
#frontpage-portlets div.portletWrapper {
    float: left;
    padding: 14px 18px 0px;
    width: 210px;
    margin-left: 8px;
}
#frontpage-portlets .managePortletsLink {
    clear: left;
}
#frontpage-portlets #portletFlash-wrapper {
    width: 355px;
    float: right;
    margin:0;
    padding:0;
}
#frontpage-portlets dl.portlet .portletItemDetails {
    color: &dtml-evpLightGrey;;    
}
#frontpage-portlets dl.portlet .portletItem {
    margin: 0;
}
#frontpage-portlets .portletListingPortlet dd.portletItem {
    background: transparent;
    padding: 0.5em 0 0;    
}
#frontpage-portlets .evp-portlet-one,
#frontpage-portlets .evp-portlet-oneleft,
#frontpage-portlets .evp-portlet-onetop,
#frontpage-portlets .evp-portlet-oneleft,
#frontpage-portlets .evp-portlet-twotop,
#frontpage-portlets .evp-portlet-twoleft,
#frontpage-portlets .evp-portlet-three {
    width:auto;
}
#frontpage-portlets dl.portlet.portletFlash .portletItem {
    padding: 0;
}
#frontpage-portlets dl.portlet dt.portletHeader a {
    color: &dtml-evpLightGreen;;    
}
#frontpage-portlets p.discreet { 
	color:#333333;
	font-size:0.8em;
	line-height:1.1em;
	padding-top:0px;
}
#frontpage-portlets .evp-portlet-item a {
	text-decoration:none;
	padding:1em;
	padding-left:.25em;
	display: block;
	float:left;
	clear:both;
}
#frontpage-portlets .evp-portlet-itemtitle, 
#frontpage-portlets a.evp-portlet-itemtitle {
/*  width:191px;*/
    display: block;
	color:#FFF!important;
	font-size:120%;
	font-weight:100;
	margin-bottom:-1em;
	padding:1em .25em 1em .25em;
	text-transform:capitalize;
}
#frontpage-portlets .evp-portlet-itemdescription
#frontpage-portlets a.evp-portlet-itemdescription {
	font-weight:100;
	margin-bottom:.25em;
	padding:1em .25em 1em .25em;
}

#frontpage-portlets .portletDualListingPortlet dd.portletItem div.evp-portlet-item,
#frontpage-portlets a.evp-portlet-morelink:link,
#frontpage-portlets a.evp-portlet-morelink:visited,
#frontpage-portlets a.evp-portlet-morelink:active {
    background: transparent;
}
#frontpage-portlets a {
	padding-right:16px;
}
#frontpage-portlets .managePortletsLink a:hover {
    background: none;
    padding-left: 0;
    width: auto;
}
#frontpage-portlets .evp-portlet-item {
	overflow:visible;
}	


/*
** SEO BOX STYLES 
*/

.container-seo {
	margin-top: 1em;
	overflow: auto;
	padding: 14px 25px 14px 25px;
	text-align: left;
}
#portal-header .container-seo {
    /*display: none;*/
    position: absolute;
    left: -10000px;
    /*height: 1px;*/ 
    /*width: 1px*/
}
.container-seo h2 {
	padding: 0;
    margin: 0 0 1em 0;
    border:none;
	background: transparent;
    font-size: 1.6em;
}
.container-seobox {
    width: 823px;
    margin: 0 auto;
    padding: 0;
	color: #333333;
	font-size:.8em;
	line-height:1.6em;
}
.container-seobox-content {
	padding: 0px 14px 0px 8px;
	clear: both;
}

#content.hasRightColumn {
    padding-right: 0 !important;
}

body.kssActive #frontpage-promotions .inlineEditable:hover, 
body.kssActive #frontpage-promotions .formlibInlineEditable:hover,
body.kssActive #portal-columns .inlineEditable:hover, 
body.kssActive #portal-columns .formlibInlineEditable:hover {
    color: #000;
}

/* Styling for new table formatted global navigation  */
.globalnav_table {
	height: 27px;
    background:transparent url(&dtml-portal_url;/front_global-navigation-background.gif) top left repeat-x;
}
.globalnav_leftside {
	height: 27px;
    background:transparent url(&dtml-portal_url;/frontpage_globalleft.gif) top left no-repeat;
}
.globalnav_rightside {
	height: 27px;
    background:transparent url(&dtml-portal_url;/frontpage_globalright.gif) top right no-repeat;
}
.globalnav_divider {
	height: 27px;
    background:transparent url(&dtml-portal_url;/global-navigation-center.gif) top center no-repeat;
}
.globalnav_table tr td a {
	display: block;
	margin-top: 0px;
}

.paragraphIconHeart {
	padding-left: 16px !important;
	margin-left: 18px !important;
	line-height: 1.2em !important;
	background: transparent url("&dtml-portal_url;/bullet-heart.gif") top left no-repeat;
	background-position: 0px 3px;
}
.paragraphIconSpade {
	padding-left: 16px !important;
	margin-left: 18px !important;
	line-height: 1.2em !important;
	background: transparent url("&dtml-portal_url;/bullet-spade.gif") top left no-repeat;
	background-position: 0px 3px;
}
.paragraphIconDiamond {
	padding-left: 16px !important;
	margin-left: 18px !important;
	line-height: 1.2em !important;
	background: transparent url("&dtml-portal_url;/bullet-diamond.gif") top left no-repeat;
	background-position: 0px 3px;
}
.paragraphIconClub {
	padding-left: 16px !important;
	margin-left: 18px !important;
	line-height: 1.2em !important;
	background: transparent url("&dtml-portal_url;/bullet-club.gif") top left no-repeat;
	background-position: 0px 3px;
}
/* </dtml-with> */
