.tooltip {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    &:hover {
        .window {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
        }
    }

    .tooltip-icon {
        background: #003D6B;
        border-radius: 30px;
        color: $white;
        display: inline-block;
        @include font-size(14);
        font-weight: 600;
        height: 20px;
        line-height: 21px;
        padding: 0;
        text-align: center;
        width: 20px;
    }

    .window {
        @include font-size(14);
        position: absolute;
        bottom: 40px;
        left: 50%;
        margin-left: -145px;
        opacity: 0;
        pointer-events: none;
        @include transition(opacity 0.3s ease);
        visibility: hidden;
        width: 290px;

        .container {
            background: rgba(0, 0, 0, .9);
            border-radius: 5px;
            color: #fff;
            position: relative;
            padding: 10px 10px 5px;

            &:before {
                content: " ";
                display: block;

            }

            &:after {
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-top: 15px solid rgba(0, 0, 0, .9);
                border-bottom: 0;
                content: " ";
                display: block;
                height: 0;
                left: 130px;
                position: absolute;
                width: 0;
                bottom: -15px;
                z-index: 100;
            }
        }
    }
}
