<!doctype>
<html>
<head>
</head>
<body>
	<h1>Backbone filter</h1>

	<div id="filter_container"></div>

	<!-- filter template -->
	<script type="text/template" id="filter_template">
		<label for="<%= select_id %>"><%= select_label %></label>
		<select class="filter-group" id="<%= select_id %>">
			<option class="filter-item" value="">Select</option>
		<% _.each(options, function(option){ %>
			<option class="filter-item" <%= (_.escape(option.selected)) %> value="<%= _.escape(option.value) %>">
				<%= _.escape(option.label) %>
			</option>
		<% }); %>
		</select>
  	</script>

  	<!-- results template -->
	<script type="text/template" id="result_template">
		<div class="articleMod clearfix">
			<a href="<%= href %>" class="withImage">
				<img alt="<%= _.escape(title) %>" src="<%= image_src %>" />
			</a>
			<h4>
				<a href="<%= href %>"><%= title %></a>
			</h4>
			<p>
				<em class="featureDate"><%= date %></em>
				<%= content %>
				<span class="article-tags">
					<% _.each(tags, function(tag){ %>
						<a href="<%= tag.url %>"><%= tag.label %></a>,
					<% }); %>
				</span>	
			</p>			
		</div>
	</script>

  	<!-- pagination template -->
	<script type="text/template" id="pagination_template">
		<a href="#page/<%=index%>" class="pagination-link<% if(index == current){%> active<%}%>"><%= index %></a>
	</script>

	<script src="js/jquery.js"></script>
	<script src="js/underscore.js"></script>
	<script src="js/backbone.js"></script>
	<script src="js/filter.js"></script>
</body>
</html>