:root {
  --bg-blue: #01b0cf;  
  --bg-orange: #fe5037;  
}

@font-face {
  font-family: 'eraserdust';
  src: url('./fonts/eraserdust-webfont.woff2') format('woff2'),
       url('./fonts/eraserdust-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'eraserregular';
  src: url('./fonts/eraserregular-webfont.woff2') format('woff2'),
       url('./fonts/eraserregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: linear-gradient(180deg, var(--bg-blue) 750px, #008ca5 750px);
  min-height: 100vh;
}

.classroom {
  height: 840px;
  position: relative;
  width: 1400px;
}

@-webkit-keyframes showLinks {
  0%, 29%, 41%, 51%, 61%, 100% {
    outline: 3px solid transparent;
  }

  30% {
    outline-color: var(--bg-orange);
  }

  40% {
    outline-color: var(--bg-orange);
  }

  50% {
    outline-color: var(--bg-orange);
  }

  60% {
    outline-color: var(--bg-orange);
  }
}

@keyframes showLinks {
  0%, 29%, 41%, 51%, 61%, 100% {
    outline: 3px solid transparent;
  }

  30% {
    outline-color: var(--bg-orange);
  }

  40% {
    outline-color: var(--bg-orange);
  }

  50% {
    outline-color: var(--bg-orange);
  }

  60% {
    outline-color: var(--bg-orange);
  }
}


.classroom a {
    -webkit-animation: showLinks 3s ease 1s 3;
            animation: showLinks 3s ease 1s 3;
}

/* Start book shelf */
.bookshelf {
  background-image:
    radial-gradient(#fff 50%, transparent 50%), /* red book */
    linear-gradient(-90deg, #01b0cf 5px, #fff 5px, #fff),
    radial-gradient(#fe377a 50%, transparent 50%),
    linear-gradient(0deg, #fe377a, #fe377a 5px),
    radial-gradient(#fff 50%, transparent 50%), /* cyan book */
    linear-gradient(90deg, #01b0cf 5px, #fff 5px, #fff),
    radial-gradient(#28e8c3 50%, transparent 50%),
    linear-gradient(0deg, #28e8c3, #28e8c3),
    radial-gradient(#fff 50%, transparent 50%), /* blue book */
    linear-gradient(90deg, #01b0cf 6px, #fff 6px, #fff),
    radial-gradient(#016797 50%, transparent 50%),
    linear-gradient(0deg, #016797, #016797),
    linear-gradient(0deg, #b27e4f 20px, transparent 20px); /* shelf */
  background-position:
    159px 40px, /* red book */
    165px 43px,
    152px 34px,
    165px 38px,
    270px 62px, /* cyan book */
    175px 65px,
    265px 55px,
    175px 60px,
    254px 86px, /* blue book */
    160px 90px,
    252px 79px,
    160px 85px,
    top left; /* shelf */
  background-size:
    16px 18px, /* red book */
    85px 12px,
    26px 30px,
    85px 22px,
    20px 21px, /* cyan book */
    108px 15px,
    32px 34px,
    105px 24px,
    26px 28px, /* blue book */
    110px 20px,
    35px 42px,
    110px 30px,
    100%; /* shelf */
  background-repeat: no-repeat;
  box-shadow: 0 2px 3px -3px #000;
  height: 135px;
  position: absolute;
    left: 58px;
    top: 77px;
  width: 300px;
}

.bookshelf::after {
  background-image: 
    linear-gradient(37deg, transparent 11px, #ffc602 11px),
    linear-gradient(-37deg, transparent 11px, #ffc602 11px);
  content: "";
  height: 24px;
  position: absolute;
    bottom: 12px;
    right: 35px;
  width: 18px;
}

/* Tardis borrowed from https://a.singlediv.com/ */
.tardis {
  background: #274d7e;
  background-image: 
    linear-gradient(to right,#295185 15px,#21416a 15px,#21416a 17px,#264b7a 17px,#264b7a 20px,#21416a 20px,#21416a 22px,#274d7e 22px,#274d7e 32px,transparent 32px,transparent 83px,#1d395d 83px,#1d395d 85px,#21416a 85px,#21416a 87px,#1d395d 87px,#1d395d 89px,transparent 90px),
    linear-gradient(to left,#295185 15px,#21416a 15px,#21416a 17px,#264b7a 17px,#264b7a 20px,#21416a 20px,#21416a 22px,#274d7e 22px,#274d7e 32px,transparent 32px,transparent 75px,#274d7e 75px,#274d7e 95px,transparent 95px),
    linear-gradient(to bottom,transparent 85px,#244775 85px,#244775 130px,transparent 130px,transparent 140px,#244775 140px,#244775 185px,transparent 185px,transparent 195px,#244775 195px,#244775 240px,transparent 240px),
    linear-gradient(to bottom,transparent 52px,#274d7e 52px,#274d7e 54px,transparent 54px),
    linear-gradient(to right,transparent 44px,#274d7e 44px,#274d7e 46px,transparent 46px,transparent 60px,#274d7e 60px,#274d7e 62px,transparent 62px,transparent 108px,#274d7e 108px,#274d7e 110px,transparent 110px,transparent 124px,#274d7e 124px,#274d7e 126px,transparent 126px),
    linear-gradient(to bottom,transparent 30px,rgba(255,255,255,0.4) 30px,rgba(255,255,255,0.9) 75px,transparent 75px);
  border-bottom: 8px solid #2b568d;
  box-shadow: 0 12px 0 #21416a, 0 18px 8px -3px rgba(0,0,0,0.3);
  display: block;
  height: 250px;
  margin-left: -85px;
  margin-top: -110px;
  position: absolute;
    bottom: -52px;
    left: 80px;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  width: 170px;
}

.tardis::before {
  background: #333;
  box-shadow: 0 0 0 4px #295185, 0 4px 4px 4px rgba(0,0,0,0.3), 0 -15px 0 #274d7e, 0 -27px 0 -6px #295185, 0 -32px 0 -6px #295185;
  color: rgba(255,255,255,0.8);
  content: 'POLICE BOX';
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 10px;
  height: 18px;
  letter-spacing: 5px;
  line-height: 18px;
  margin-left: -75px;
  margin-top: -8px;
  position: absolute;
    top: 0;
    left: 50%;
  text-align: center;
  width: 150px;
}

.tardis::after {
  background: rgba(255,255,255,0.7);
  background-image: 
    linear-gradient(to right,transparent 5px,#31619f 5px,#31619f 6px,transparent 6px),
    linear-gradient(to bottom,transparent 5px,#31619f 5px,#31619f 6px,transparent 6px,transparent 13px,#31619f 13px,#31619f 14px,transparent 14px);
  border-bottom: 3px solid #31619f;
  border-top: 5px solid #31619f;
  box-shadow: 0 -2px 10px -1px rgba(255,255,255,0.5), -39px 155px 0 rgba(255,255,255,0.6), -24px 155px 0 rgba(255,255,255,0.6);
  content: "";
  height: 20px;
  left: 50%;
  margin-left: -7.5px;
  position: absolute;
    left: 50%;
    top: -62px;
  width: 15px;
}
/* End Tardis */
/* End book shelf */

/* Start Wall art */
.einstein {
  background-image: 
    linear-gradient(0deg, transparent 22px, #e7e7e7 22px),
    linear-gradient(-90deg, transparent 22px, #e7e7e7 22px),
    linear-gradient(-45deg, transparent 15px, #ccc 15px);
  display: flex;
    align-items: center;
    justify-content: center;
  height: 115px;
  position: absolute;
    top: 30px;
    left: 865px;
  width: 161px;
}

.einstein__text {
  color: #008892;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 40px;
  font-weight: 600;
}

.einstein__text::before,
.einstein__text::after {
  background-color: #0071af;
  content: "";
  height: 10px;
  position: absolute;
    top: 2px;
  width: 30px;
}

.einstein__text::before {
  -webkit-transform: rotate(-43deg);
          transform: rotate(-43deg);
  left: -8px;
}

.einstein__text::after {
  -webkit-transform: rotate(43deg);
          transform: rotate(43deg);
  right: -8px;
}

.einstein__text sup {
  font-size: .5em;
}

.word-doc {
  background-color: #e7e7e7;
  background-image: 
    repeating-linear-gradient(0deg, #ccc, #ccc 4px, transparent 4px, transparent 11px),
    linear-gradient(90deg, transparent 50%, #e7e7e7 50%),
    repeating-linear-gradient(0deg, #ccc, #ccc 4px, transparent 4px, transparent 11px);
  background-size: 70% 71px, 70% 100%, 70% 82px;
  background-repeat: no-repeat;
  background-position: center 12px;
  height: 117px;
  position: absolute;
    top: 30px;
    left: 1075px;
  width: 80px;
}

.word-doc::before,
.word-doc::after {
  background-color: #ed5031;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
    top: 2px;
  width: 30px;
}

.word-doc::before {
  -webkit-transform: rotate(-43deg);
          transform: rotate(-43deg);
  left: -8px;
}

.word-doc::after {
  -webkit-transform: rotate(43deg);
          transform: rotate(43deg);
  right: -8px;
}

.info-graph {
  background-color: #e7e7e7;
  background-image:
    radial-gradient(circle at center, #e7ab15 4px, #e7e7e7 4px),
    radial-gradient(circle at center, #e7ab15 4px, #e7e7e7 4px),
    linear-gradient(0deg, #008892 3px, transparent 3px),
    linear-gradient(90deg, #008892 3px, transparent 3px),
    repeating-linear-gradient(90deg, #008892 4px, transparent 5px, transparent 10px, #008892 11px, #008892 17px);
  background-repeat: no-repeat;
  background-position: 5% 6px, 96% 6px, 20px 25px, 20px 25px, center;
  background-size: 8px 8px, 8px 8px, 121px 70px, 121px 70px, 120px 3px;
  height: 115px;
  position: absolute;
    top: 30px;
    left: 1200px;
  width: 161px;
}

.info-graph::before {
  border-bottom: 8px solid #008892;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  content: "";
  height: 0;
  position: absolute;
    top: 22px;
    left: 18px;
  -webkit-transform: translateX(-6%);
          transform: translateX(-6%);
  width: 0;
}

.info-graph::after {
  border-bottom: 4px solid transparent;
  border-left: 8px solid #008892;
  border-top: 4px solid transparent;
  box-sizing: border-box;
  content: "";
  height: 0;
  position: absolute;
    top: 90px;
    left: 138px;
  -webkit-transform: translateY(-6%);
          transform: translateY(-6%);
  width: 0;
}

.info-graph__line {
  border-top: 3px solid #eb4217;
  border-right: 4px solid #eb4217;
  border-top-right-radius: 100%;
  box-sizing: border-box;
  display: block;
  height: 22px;
  position: absolute;
    left: 26px;
    top: 36px;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  width: 20px;
}

.info-graph__line::before {
  border-bottom: 3px solid #eb4217;
  border-left: 5px solid #eb4217;
  border-bottom-left-radius: 50%;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 43px;
  position: absolute;
    left: 12px;
    top: -3px;
  -webkit-transform: rotate(-44deg) skew(-33deg);
          transform: rotate(-44deg) skew(-33deg);
  width: 68px;
}

.info-graph__line::after {
  border-top: 4px solid #eb4217;
  border-left: 4px solid #eb4217;
  border-top-left-radius: 100%;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 24px;
  position: absolute;
    right: -85px;
    top: -4px;
  -webkit-transform: skew(-40deg);
          transform: skew(-40deg);
  width: 20px;
}
/* End Wall art */

/* Start desk and stuff on top */
.desk {
  background-image: linear-gradient(21deg, #215b73 70%, #1d5167 70%);
  height: 280px;
  position: absolute;
    bottom: 35px;
    left: 210px;
  width: 526px;
}

.desk::before {
  border-radius: 7px;
  background-color: #101630;
  content: "";
  height: 14px;
  position: absolute;
    top: 0;
    left: -28px;
  width: calc(100% + 56px);
}

.name-card {
  background-color: #fdfeee;
  color: #aaa;
  font-family: sans-serif;
  font-size: 8px;
  font-weight: 700;
  height: 12px;
  line-height: 13px;
  padding: 0 8px;
  position: absolute;
    bottom: calc(100% + 6px);
    right: -3px;
  text-align: bottom;
  text-transform: uppercase;
  -webkit-transform: scaleY(2) skew(35deg);
          transform: scaleY(2) skew(35deg);
}

.name-card:before {
  border-right: 18px solid #bbb;
  border-top: 12px solid transparent;
  content: "";
  height: 0;
  position: absolute;
    right: 100%;
    top: 0;
  width: 0;
}

.newtons-cradle {
  border: 7px solid #006696;
  border-bottom: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-sizing: border-box;
  display: flex;
    align-items: flex-start;
    justify-content: center;
  height: 95px;
  position: absolute;
    bottom: 100%;
    left: -2px;
  width: 90px;
}

.newtons-cradle::after {
  border-radius: 5px;
  background-color: #006696;
  content: "";
  height: 10px;
  position: absolute;
    bottom: 0;
    left: -15px;
  width: calc(100% + 30px);
}

@-webkit-keyframes rockTheLeftCradle {
  0%, 25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }

  75%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rockTheLeftCradle {
  0%, 25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }

  75%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes rockTheRightCradle {
  0%, 100% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }

  25%, 75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rockTheRightCradle {
  0%, 100% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }

  25%, 75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes jiggleTheCradle {
  24%, 26%, 74%, 76%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }

  75% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

@keyframes jiggleTheCradle {
  24%, 26%, 74%, 76%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }

  75% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

.newtons-cradle__ball {
  -webkit-animation: 1.5s jiggleTheCradle infinite linear;
          animation: 1.5s jiggleTheCradle infinite linear;
  background-image: linear-gradient(90deg, #0FCB90, #42fec3, #0FCB90);
  box-sizing: border-box;
  height: calc(80% - 12px);
  margin: 0 4px;
  position: relative;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  width: 4px;
  z-index: -1;
}

.newtons-cradle__ball:first-child {
  -webkit-animation: 1.5s rockTheLeftCradle infinite cubic-bezier(0.04, 0.78, 0.68, 1.16);
          animation: 1.5s rockTheLeftCradle infinite cubic-bezier(0.04, 0.78, 0.68, 1.16);
}

.newtons-cradle__ball:last-child {
  -webkit-animation: 1.5s rockTheRightCradle infinite cubic-bezier(0.04, 0.78, 0.68, 1.16);
          animation: 1.5s rockTheRightCradle infinite cubic-bezier(0.04, 0.78, 0.68, 1.16);
}

.newtons-cradle__ball:after {
  background-color: var(--bg-orange);
  border-radius: 100%;
  content: "";
  height: 12px;
  position: absolute;
    left: -4px;
    top: 100%;
  width: 12px;

}
/* End desk and stuff on top */

/* Start Person */
.person {
  --c-hair: #58453f;
  --c-mouth: #a67e64;
  --c-skin: #ffc691;
  --c-shirt: #eca900;
  --c-nose: #f4a16f;
  --c-glasses: #683206;
  --c-eyes: #6f5f52;
  --c-hair: #725136;
  background-image:
    radial-gradient(circle at center 100%, transparent 50%, var(--bg-blue) 50%),  /* hair */
    radial-gradient(ellipse at -30px 100%, transparent 70%, var(--c-hair) 70%),  /* hair */
    radial-gradient(circle at -90% 50%, var(--c-hair) 70%, transparent 70%),  /* hair */
    radial-gradient(closest-side, var(--c-eyes) 70%, transparent 70%),  /* eyes */
    radial-gradient(closest-side, var(--c-eyes) 70%, transparent 70%),  /* eyes */
    linear-gradient(var(--c-glasses), var(--c-glasses)), /* glasses */
    radial-gradient(closest-side, #ffd2a8 55%, var(--c-glasses) 55%, var(--c-glasses) 70%, transparent 70%),  /* glasses */
    radial-gradient(closest-side, #ffd2a8 55%, var(--c-glasses) 55%, var(--c-glasses) 70%, transparent 70%),  /* glasses */
    radial-gradient(ellipse at 50% -5px, transparent 30%, var(--c-mouth) 30%, var(--c-mouth) 42%,transparent 42%),  /* mouth */
    linear-gradient(var(--c-nose), var(--c-nose)), /* nose */
    radial-gradient(circle, var(--c-nose) 50%, transparent 50%), /* nose */
    radial-gradient(ellipse at 60% 0, transparent 52%, var(--c-skin) 52%), /* face */
    radial-gradient(circle at center 100%, var(--c-hair) 50%, transparent 50%), /* hair */
    linear-gradient(0deg, var(--c-skin), var(--c-skin)), /* face */
    radial-gradient(circle, var(--c-skin) 50%, transparent 50%), /* face */
    radial-gradient(circle, var(--c-skin) 50%, transparent 50%), /* ear */
    radial-gradient(circle, var(--c-skin) 50%, transparent 50%), /* ear */
    linear-gradient(0deg, var(--c-skin), var(--c-skin)), /* neck */
    radial-gradient(circle, var(--c-skin) 50%, transparent 50%), /* neck */
    radial-gradient(circle, var(--c-skin) 50%, transparent 50%), /* arms */
    radial-gradient(circle, var(--c-skin) 50%, transparent 50%), /* arms */
    radial-gradient(circle, var(--c-shirt) 50%, transparent 50%), /* arms */
    radial-gradient(circle, var(--c-shirt) 50%, transparent 50%), /* arms */
    radial-gradient(circle, var(--c-shirt) 50%, transparent 50%), /* arms */
    radial-gradient(circle, var(--c-shirt) 50%, transparent 50%), /* arms */
    linear-gradient(67deg, transparent 40%, var(--c-shirt) 40%, var(--c-shirt) 65%, transparent 65%), /* arms */
    linear-gradient(-67deg, transparent 40%, var(--c-shirt) 40%, var(--c-shirt) 65%, transparent 65%), /* arms */
    linear-gradient(90deg, transparent 6px, var(--c-shirt) 6px, var(--c-shirt) 50px, var(--c-skin) 50px, var(--c-skin) 86px, transparent 86px, transparent 114px, var(--c-skin) 114px, var(--c-skin) 150px, var(--c-shirt) 150px, var(--c-shirt) 194px, transparent 194px), /* arms */
    linear-gradient(-69deg, var(--c-shirt) 50%, transparent 50%), /* body */
    linear-gradient(69deg, var(--c-shirt) 50%, transparent 50%), /* body */
    linear-gradient(0deg, #fff, #fff), /* body */
    linear-gradient(94deg, transparent 2%, var(--c-shirt) 2%, var(--c-shirt) 50%, transparent 50%), /* body */
    linear-gradient(-94deg, transparent 2%, var(--c-shirt) 2%, var(--c-shirt) 50%, transparent 50%); /* body */
  background-position: 
    0px -10px, /* hair / mask */
    117px 45px, /* hair */
    29px 4px, /* hair */
    120px 106px, /* eyes */
    68px 106px, /* eyes */
    center 108px, /* glasses */
    95px 75px, /* glasses */
    30px 75px, /* glasses */
    center 170px, /* mouth */
    center 112px, /* nose */
    center 120px, /* nose */
    center 50px,  /* face */
    -20px 15px, /* hair */
    center 90px,  /* face */
    -20px 65px, /* face */
    152px 95px, /* ear */
    13px 95px, /* ear */
    center 195px, /* neck */
    center 205px, /* neck */
    98px 319px, /* arms */
    69px 319px, /* arms */
    125px 215px, /* arms */
    40px 215px, /* arms */
    168px 315px, /* arms */
    -2px 315px, /* arms */
    128px 232px, /* arms */
    6px 232px, /* arms */
    left bottom, /* arms */
    100px 220px, /* body */
    67px 220px, /* body */
    68px 220px, /* body */
    100px 220px, /* body */
    12px 220px; /* body */
  background-size: 
    200px 100px, /* hair / mask */
    54px 50px, /* hair */
    30px 100px, /* hair */
    13px 13px, /* eyes */
    13px 13px, /* eyes */
    20px 6px, /* glasses */
    75px 75px, /* glasses */
    75px 75px, /* glasses */
    75px 15px, /* mouth */
    13px 23px, /* nose */
    25px 25px, /* nose */
    132px 40px, /* face */
    240px 75px, /* hair */
    142px 50px, /* face */
    240px 150px, /* face */
    35px 35px, /* ear */
    35px 35px, /* ear */
    25px 25px, /* neck */
    35px 35px, /* neck */
    35px 35px, /* arms */
    35px 35px, /* arms */
    35px 35px, /* arms */
    35px 35px, /* arms */
    35px 35px, /* arms */
    35px 35px, /* arms */
    66px 102px, /* arms */
    66px 102px, /* arms */
    200px 16px, /* arms */
    33px 90px, /* body */
    33px 90px, /* body */
    64px 89px, /* body */
    88px 120px, /* body */
    88px 120px; /* body */
  background-repeat: no-repeat;
  height: 340px;
  position: absolute;
    left: 380px;
    top: 185px;
  width: 200px;
}

.person::before {
  position: absolute;
}
/* End Person */

/* Start of the brief case board */
.brief-case {
  background-color: #814b1c;
  background-image: 
    linear-gradient(0deg, #eca900 15px, transparent 15px),
    radial-gradient(#eca900 10px, transparent 10px),
    linear-gradient(20deg, transparent 40%, #754217 40%);
  background-repeat: no-repeat;
  background-position: center 55px, center 60px, left bottom;
  background-size: 20px 15px, 20px 20px, 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: block;
  height: 140px;
  position: absolute;
    left: 775px;
    bottom: 50px;
  width: 196px;
}

.brief-case::before {
  border: 15px solid #814c1a;
  border-bottom: 0;
  border-radius: 30px;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 70px;
  position: absolute;
    bottom: calc(100% - 35px);
    left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 85px;
}

.brief-case::after {
  background-color: #bb7134;
  background-image: linear-gradient(0deg, #eca900 15px, transparent 15px);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 20px 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  content: "";
  height: 47%;
  position: absolute;
    top: 0;
    left: 0;
  width: 100%;
  z-index: 2;
}

.brief-case__paper {
  background-color: #fdfef0;
  box-shadow: 9px 8px 0 -4px #ccc;
  height: 55px;
  position: absolute;
    right: -15px;
    top: 10px;
  -webkit-transform: perspective(200px) rotateY(-30deg) rotateZ(4deg);
  transform: perspective(200px) rotateY(-30deg) rotateZ(4deg);
  width: 130px;
}
/* End brief case and stuff on top */

/* Start of the black board */
.black-board {
  background-color: #4a4a4a;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-sizing: border-box;
  color: #fcfee9;
  font-family: eraserdust;
  font-size: 50px;
  height: 330px;
  letter-spacing: .02em;
  padding-top: 100px;
  position: absolute;
    left: 855px;
    top: 170px;
  text-align: center;
  width: 525px;
}

.black-board::before {
  background-color: #fcfee9;
  border-radius: 2px;
  content: "";
  height: 13px;
  position: absolute;
    bottom: 0;
    left: 315px;
  width: 60px;
}

.black-board::after {
  background-color: #bb7134;
  border-radius: 4px;
  box-shadow: 0 2px 2px -2px #000;
  content: "";
  height: 30px;
  position: absolute;
    top: 100%;
    left: -15px;
  width: calc(100% + 30px);
}

.black-board__text {
  display: inline-block;
  -webkit-transform: perspective(100px) rotateX(-20deg);
  transform: perspective(100px) rotateX(-20deg);
}

.black-board__text::after {
  border-top: solid 5px #fcfee9;
  border-top-right-radius: 100% 50px;
  content: "";
  display: block;
  height: 60px;
  margin: 15px -60px 0;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
  width: calc(100% + 120px);
}

.triangle-square {
  background-color: #4a4a4a;
  background-image: 
    linear-gradient(to right bottom, #4a4a4a 50%, #ffc602 50%, #ffc602 59%, transparent 59%),
    linear-gradient(0deg, #ffc602 10px, transparent 10px),
    linear-gradient(-90deg, #ffc602 10px, transparent 10px);
  box-sizing: border-box;
  display: block;
  height: 75px;
  position: absolute;
    bottom: 0;
    right: 20px;
  width: 120px;
}

.triangle-square::before {
  background-image: 
    repeating-linear-gradient(90deg, #ffc602 0, #ffc602 3px, #4a4a4a 3px, #4a4a4a 4px, #ffc602 4px, #ffc602 7px, transparent 7px, transparent 8px),
    linear-gradient(0deg, #4a4a4a 50%, transparent 50%); 
  content: "";
  display: block;
  height: 5px;
  position: absolute;
    bottom: 0;
    right: 10px;
  width: 70%;
}
/* End of the black board */

/* Start Mouse hole */
.mouse-hole {
  background-image: 
    radial-gradient(circle, #000 50%, transparent 50%), 
    linear-gradient(0deg, #000, #000);
  background-repeat: no-repeat;
  background-position: 
    252px 2px, 
    260px 30px;
  background-size: 
    56px 56px, 
    40px 30px;
  height: 30px;
  padding-top: 30px;
  position: absolute;
    bottom: 98px;
    right: 50px;
  width: 300px;
}

.mouse-hole__input {
  opacity: 0;
  overflow: hidden;
  width: 1px;
}

.mouse-hole__arrow {
  background-image: 
    linear-gradient(to right top, transparent 50%, #eca900 50%, #eca900 80%, transparent 80%),
    linear-gradient(to right bottom, transparent 50%, #eca900 50%, #eca900 80%, transparent 80%),
    linear-gradient(0deg, #eca900, #eca900);
  background-repeat: no-repeat;
  background-position:
    bottom left,
    top left,
    center left;
  background-size:
    10px 10px,
    10px 10px,
    20px 4px;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  margin: 5px 3px;
  width: 30px;
}

.mouse-hole__input:checked ~ .mouse-hole__arrow {
  background-image: 
    linear-gradient(to left top, transparent 50%, #eca900 50%, #eca900 70%, transparent 70%),
    linear-gradient(to left bottom, transparent 50%, #eca900 50%, #eca900 70%, transparent 70%),
    linear-gradient(0deg, #eca900, #eca900);
  background-position:
    bottom right,
    top right,
    center right;
}

.mouse-hole__cheese {
  --hole: #ff9e29;
  background-color: #fabe12;
  height: 18px;
  position: absolute;
    bottom: 0;
    left: 0;
  -webkit-transform: skewY(10deg);
          transform: skewY(10deg);
  width: 40px;
}

.mouse-hole__cheese::before {
  background-repeat: no-repeat;
  background-image: 
    radial-gradient(closest-side, var(--hole) 100%, transparent 100%),
    radial-gradient(circle at right 25px, #ffdf50 50%, transparent 50%),
    linear-gradient(-155deg, transparent 50%, #ffdf50 50%);
  background-position:
    10px 10px,
    -2px -9px,
    bottom right;
  background-size: 
    5px 5px,
    15px 24px,
    30px 16px;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
    bottom: calc(100% - 1px);
    left: 0;
  width: 100%;
}

.mouse-hole__cheese::after {
  background-repeat: no-repeat;
  background-image: 
    radial-gradient(closest-side, var(--hole) 100%, transparent 100%),
    radial-gradient(closest-side, var(--hole) 100%, transparent 100%),
    radial-gradient(closest-side, var(--hole) 100%, transparent 100%);
  background-position:
    30px 2px,
    5px 5px,
    20px 10px;
  background-size: 
    4px 5px,
    6px 7px,
    5px 6px;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
}

.mouse-hole__input:checked:nth-child(4) ~ .mouse-hole__cheese {
  left: 53px;
}

.mouse-hole__input:checked:nth-child(6) ~ .mouse-hole__cheese {
  left: 108px;
}

.mouse-hole__input:checked:nth-child(8) ~ .mouse-hole__cheese {
  left: 160px;
}

@-webkit-keyframes hideTheCheese {
  0%, 20% {
    left: 210px;
    opacity: 1;
  }

  99% {
    left: 210px;
  }
  
  100% {
    left: 0;
    opacity: 0;
  }
}

@keyframes hideTheCheese {
  0%, 20% {
    left: 210px;
    opacity: 1;
  }

  99% {
    left: 210px;
  }
  
  100% {
    left: 0;
    opacity: 0;
  }
}

.mouse-hole__input:checked:nth-child(10) ~ .mouse-hole__cheese {
  -webkit-animation: hideTheCheese 4s ease;
          animation: hideTheCheese 4s ease;
  left: 0;
  opacity: 1;
}

@-webkit-keyframes mouseBlink {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes mouseBlink {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.mouse-hole__mouse {
  background-image: 
    radial-gradient(closest-side, #000 75%, transparent 75%),
    radial-gradient(closest-side, #000 75%, transparent 75%),
    radial-gradient(closest-side, #fff 75%, transparent 75%),
    radial-gradient(closest-side, #fff 75%, transparent 75%);
  background-repeat: no-repeat;
  background-position: 
    10px 7px,
    25px 7px,
    5px 0,
    20px 0;
  background-size:
    5px 5px,
    5px 5px,
    15px 15px,
    15px 15px;
  height: 30px;
  opacity: 0;
  position: absolute;
    bottom: 0;
    right: 0;
  transition: height 500ms ease, right 500ms ease, background 500ms ease, opacity 500ms ease;
  width: 40px;
}

.mouse-hole__input:checked:nth-child(2) ~ .mouse-hole__mouse {
  -webkit-animation: mouseBlink 4s ease;
          animation: mouseBlink 4s ease;
}

.mouse-hole__input:checked:nth-child(6) ~ .mouse-hole__mouse {
  -webkit-animation: mouseBlink 4s ease;
          animation: mouseBlink 4s ease;
}

.mouse-hole__input:checked:nth-child(8) ~ .mouse-hole__mouse {
  background-position: 
    7px 7px,
    23px 7px,
    5px 0,
    20px 0;
  opacity: 1;
}

@-webkit-keyframes eatTheCheese {
  10%, 90% {
    background-image: 
      radial-gradient(closest-side, #000 70%, transparent 70%),
      radial-gradient(closest-side, #000 70%, transparent 70%),
      radial-gradient(closest-side, #000 70%, transparent 70%),
      radial-gradient(closest-side, #987 75%, transparent 75%),
      radial-gradient(closest-side, #987 75%, transparent 75%),
      radial-gradient(closest-side, #987 75%, transparent 75%),
      radial-gradient(closest-side, #987 75%, transparent 75%);
    background-repeat: no-repeat;
    background-position: 
      23px 29px,
      20px 23px,
      28px 25px,
      8px 1px,
      31px 10px,
      10px 15px,
      0 35px;
    background-size:
      6px 6px,
      6px 6px,
      6px 6px,
      22px 22px,
      22px 22px,
      30px 30px,
      40px 40px;
    height: 70px;
    opacity: 1;
    position: absolute;
      right: 30px;
    width: 50px;
  }
}

@keyframes eatTheCheese {
  10%, 90% {
    background-image: 
      radial-gradient(closest-side, #000 70%, transparent 70%),
      radial-gradient(closest-side, #000 70%, transparent 70%),
      radial-gradient(closest-side, #000 70%, transparent 70%),
      radial-gradient(closest-side, #987 75%, transparent 75%),
      radial-gradient(closest-side, #987 75%, transparent 75%),
      radial-gradient(closest-side, #987 75%, transparent 75%),
      radial-gradient(closest-side, #987 75%, transparent 75%);
    background-repeat: no-repeat;
    background-position: 
      23px 29px,
      20px 23px,
      28px 25px,
      8px 1px,
      31px 10px,
      10px 15px,
      0 35px;
    background-size:
      6px 6px,
      6px 6px,
      6px 6px,
      22px 22px,
      22px 22px,
      30px 30px,
      40px 40px;
    height: 70px;
    opacity: 1;
    position: absolute;
      right: 30px;
    width: 50px;
  }
}


.mouse-hole__input:checked:nth-child(10) ~ .mouse-hole__mouse {
  -webkit-animation: eatTheCheese 3s ease;
          animation: eatTheCheese 3s ease;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}


/* End Mouse hole */

/*# sourceMappingURL=styles-generated.css.map */
