$green-lightest: #f7f9e9;
$green-lighterer: #DCEAB2;
$green-lighter: #C7D66D;
$green-light: #b2c50d;


$blue-light: #119DA4;
$blue-lighter:#51A3A3;

$gray4: #46494C;
$gray8: #65676a;

$gray13: #DCDCDD;
$gray15: #eaeaeb;
$gray16: #f8f8f8;

// ----------------------
$color-background-button:$green-lighter;
$color-background-button-inactive:$gray13;
$color-background-aside: $blue-lighter;

$color-border-nav:$green-lighter;
$color-border-divider:$green-lighter;
$color-border-base:$gray4;

$color-button:$green-light;

$color-text-base:$gray4;
$color-text-link-hover:$green-light;

$color-icon-social: $blue-light;

