$tungsten: "Tungsten A", "Tungsten B", "Helvetica Neue", "Helvetica", sans-serif;

$tungsten-narrow: "Tungsten Narrow A", "Tungsten Narrow B", "Helvetica Neue", "Helvetica", sans-serif;; 

$proxima: "Proxima Nova W01", "Helvetica Neue", "Helvetica", sans-serif;
