  $icon-arrow-down-gray-thin-x: 225px;
  $icon-arrow-down-gray-thin-y: 0px;
  $icon-arrow-down-gray-thin-offset-x: -225px;
  $icon-arrow-down-gray-thin-offset-y: 0px;
  $icon-arrow-down-gray-thin-width: 37px;
  $icon-arrow-down-gray-thin-height: 26px;
  $icon-arrow-down-gray-thin-total-width: 262px;
  $icon-arrow-down-gray-thin-total-height: 31px;
  $icon-arrow-down-gray-thin-image: '../images/layout/sprite.png';
  $icon-arrow-down-gray-thin: 225px 0px -225px 0px 37px 26px 262px 31px '../images/layout/sprite.png';
  $icon-arrow-down-x: 40px;
  $icon-arrow-down-y: 0px;
  $icon-arrow-down-offset-x: -40px;
  $icon-arrow-down-offset-y: 0px;
  $icon-arrow-down-width: 17px;
  $icon-arrow-down-height: 15px;
  $icon-arrow-down-total-width: 262px;
  $icon-arrow-down-total-height: 31px;
  $icon-arrow-down-image: '../images/layout/sprite.png';
  $icon-arrow-down: 40px 0px -40px 0px 17px 15px 262px 31px '../images/layout/sprite.png';
  $icon-arrow-up-gray-thin-x: 188px;
  $icon-arrow-up-gray-thin-y: 0px;
  $icon-arrow-up-gray-thin-offset-x: -188px;
  $icon-arrow-up-gray-thin-offset-y: 0px;
  $icon-arrow-up-gray-thin-width: 37px;
  $icon-arrow-up-gray-thin-height: 26px;
  $icon-arrow-up-gray-thin-total-width: 262px;
  $icon-arrow-up-gray-thin-total-height: 31px;
  $icon-arrow-up-gray-thin-image: '../images/layout/sprite.png';
  $icon-arrow-up-gray-thin: 188px 0px -188px 0px 37px 26px 262px 31px '../images/layout/sprite.png';
  $icon-arrow-up-x: 23px;
  $icon-arrow-up-y: 0px;
  $icon-arrow-up-offset-x: -23px;
  $icon-arrow-up-offset-y: 0px;
  $icon-arrow-up-width: 17px;
  $icon-arrow-up-height: 15px;
  $icon-arrow-up-total-width: 262px;
  $icon-arrow-up-total-height: 31px;
  $icon-arrow-up-image: '../images/layout/sprite.png';
  $icon-arrow-up: 23px 0px -23px 0px 17px 15px 262px 31px '../images/layout/sprite.png';
  $icon-circle-arrow-down-x: 157px;
  $icon-circle-arrow-down-y: 0px;
  $icon-circle-arrow-down-offset-x: -157px;
  $icon-circle-arrow-down-offset-y: 0px;
  $icon-circle-arrow-down-width: 31px;
  $icon-circle-arrow-down-height: 31px;
  $icon-circle-arrow-down-total-width: 262px;
  $icon-circle-arrow-down-total-height: 31px;
  $icon-circle-arrow-down-image: '../images/layout/sprite.png';
  $icon-circle-arrow-down: 157px 0px -157px 0px 31px 31px 262px 31px '../images/layout/sprite.png';
  $icon-circle-arrow-up-x: 95px;
  $icon-circle-arrow-up-y: 0px;
  $icon-circle-arrow-up-offset-x: -95px;
  $icon-circle-arrow-up-offset-y: 0px;
  $icon-circle-arrow-up-width: 31px;
  $icon-circle-arrow-up-height: 31px;
  $icon-circle-arrow-up-total-width: 262px;
  $icon-circle-arrow-up-total-height: 31px;
  $icon-circle-arrow-up-image: '../images/layout/sprite.png';
  $icon-circle-arrow-up: 95px 0px -95px 0px 31px 31px 262px 31px '../images/layout/sprite.png';
  $icon-circle-minus-x: 57px;
  $icon-circle-minus-y: 0px;
  $icon-circle-minus-offset-x: -57px;
  $icon-circle-minus-offset-y: 0px;
  $icon-circle-minus-width: 19px;
  $icon-circle-minus-height: 20px;
  $icon-circle-minus-total-width: 262px;
  $icon-circle-minus-total-height: 31px;
  $icon-circle-minus-image: '../images/layout/sprite.png';
  $icon-circle-minus: 57px 0px -57px 0px 19px 20px 262px 31px '../images/layout/sprite.png';
  $icon-circle-plus-x: 76px;
  $icon-circle-plus-y: 0px;
  $icon-circle-plus-offset-x: -76px;
  $icon-circle-plus-offset-y: 0px;
  $icon-circle-plus-width: 19px;
  $icon-circle-plus-height: 20px;
  $icon-circle-plus-total-width: 262px;
  $icon-circle-plus-total-height: 31px;
  $icon-circle-plus-image: '../images/layout/sprite.png';
  $icon-circle-plus: 76px 0px -76px 0px 19px 20px 262px 31px '../images/layout/sprite.png';
  $icon-email-x: 0px;
  $icon-email-y: 0px;
  $icon-email-offset-x: 0px;
  $icon-email-offset-y: 0px;
  $icon-email-width: 11px;
  $icon-email-height: 8px;
  $icon-email-total-width: 262px;
  $icon-email-total-height: 31px;
  $icon-email-image: '../images/layout/sprite.png';
  $icon-email: 0px 0px 0px 0px 11px 8px 262px 31px '../images/layout/sprite.png';
  $icon-print-x: 11px;
  $icon-print-y: 0px;
  $icon-print-offset-x: -11px;
  $icon-print-offset-y: 0px;
  $icon-print-width: 12px;
  $icon-print-height: 12px;
  $icon-print-total-width: 262px;
  $icon-print-total-height: 31px;
  $icon-print-image: '../images/layout/sprite.png';
  $icon-print: 11px 0px -11px 0px 12px 12px 262px 31px '../images/layout/sprite.png';
  $icon-scroll-down-x: 126px;
  $icon-scroll-down-y: 0px;
  $icon-scroll-down-offset-x: -126px;
  $icon-scroll-down-offset-y: 0px;
  $icon-scroll-down-width: 31px;
  $icon-scroll-down-height: 31px;
  $icon-scroll-down-total-width: 262px;
  $icon-scroll-down-total-height: 31px;
  $icon-scroll-down-image: '../images/layout/sprite.png';
  $icon-scroll-down: 126px 0px -126px 0px 31px 31px 262px 31px '../images/layout/sprite.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    background-image: url(nth($sprite, 9));
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }
