.footer {
	@include clearfix;
	background:#fff;
	border-bottom:10px solid $color-border-divider;
	padding-top: 25px;
	padding-bottom: 25px;
	width:100%;

	@include media($medium){
		border-bottom:none;
	}

	&__desktop {
		margin:0 auto;
		max-width:1024px;

		@include media($medium){
			display:none;
		}
	}
	&__mobile {
		margin:0 auto;
		max-width:180px;
		text-align:center;

		@include media($medium-min){
			display:none;
		}
	}

	&__contact {
		float:left;
		text-align:center;
		width:calc(50% - 75px);

		@include media($x-large) {
			width:calc(55% - 75px);
		}

		h3 {
			font-size:15px;
			font-weight: bold;
			margin-bottom:.5em;
			text-transform: uppercase;
		}

		p {
			font-size:10px;
			line-height: 1.25em;
			margin-bottom:0;
		}
	}

	&__logo {

	}

	&__copyright {
		float:right;
		text-align:center;
		width:calc(50% - 75px);

		@include media($x-large) {
			width:calc(45% - 75px);
		}

		@include media($medium) {
			display:block;
			float:none;
			font-size:11px;
			margin-bottom:0;
			width:100%;
		}

		h2 {
			font-size:30px;
			margin-bottom:.5em;
			text-transform: uppercase;
		}

		p {
			font-size:10px;
			line-height: 1.25em;
			margin-bottom:0;
		}
	}
	&__data,
	&__source {
		font-size:11px;
		font-weight:600;
		text-transform: uppercase;
	}
}