.insight-content {
	background-color:#fff;
	box-shadow: 0 -3px 5px -5px rgba($gray4, .5),-3px 0 5px -5px rgba($gray4, .5),3px 0 5px -5px rgba($gray4, .5);
	margin:10px auto 0;
	max-width:820px;
	padding:40px 40px 0;
	position:relative;
	width:100%;
	z-index:2;

	@include media($large-plus) {
		max-width:585px;
	}

	&__main-content {
		padding-right:40px;
		width:57%;
		
		small {
			display: block;
			font-size:10px;
			font-style:italic;
			line-height: 1.25em;
			margin-top:2em;
		}
	}

	&__sidebar {
		background-color: rgba($color-background-aside, .7);
		font-size:12px;
		padding:20px;
		position:absolute;
			right:40px;
			top:40px;
			bottom:40px;
		width:39%;

		p {
			font-size:12px;
			line-height:1.75em;

			@include media($x-large){
				font-size:13px;
			}
		}
		hr {
			border:none;
			border-top:1px solid $gray4;
			margin:8px auto;
			width:33%;

		}
		h2 {
			font-size:21px;
			font-weight: bold;
			margin-bottom:10px;
			text-align: center;
			text-transform: uppercase;
		}
		h3 {
			font-size:12px;
			font-weight:300px;
			letter-spacing: .1em;
			text-align:center;
			text-transform: uppercase;
		}
	}
	&__graphic {
		background: transparent url(../img/2015/education-graphic.png) left bottom no-repeat;
		background-size: contain;
		position:absolute;
			bottom:-40px;
			left:-30px;
		width:100%;
		
		.insights-sub--education & {
			background-image: url(../img/2015/education-graphic.png);
			height:231px;
		}
		.insights-sub--employment & {
			background-image: url(../img/2015/employment-graphic.png);
			height:320px;
			left:-50px;
			width:120%;

		}
		.insights-sub--government & {
			background-image: url(../img/2015/government-graphic.png);
			height:230px;
		}
	}
	&__toggle-content {
		
	}
}